@model List<proyectolibreria.Models.ViewModels.ListClienteViewModel>
@{
    ViewBag.Title = "Clientes";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card -->
            <div class="card-header border-0">
                <h3 class="mb-0">@ViewBag.Title</h3>
                <div class="col text-right">
                    <a href="~/Articulo/Nuevo" class="btn btn-sm btn-primary">Agregar cliente</a>
                </div>
            </div>
            <!-- tabla -->
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Telefono</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (var oElemento in Model)
                        {
                            <tr>
                                <td>@oElemento.Id</td>
                                <td>@oElemento.Nombre</td>
                                <td>@oElemento.Direccion</td>
                                <td>@oElemento.Telefono</td>
                                <td>
                                    <a class="btn btn-default" href="~/Articulo/Editar/@oElemento.Id">Editar</a>
                                    <a class="btn btn-danger" href="~/Articulo/Eliminar/@oElemento.Id">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
